.content-grid{
  height: 100%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 20% 80%;
}

.content-map{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  border-top: 1px solid #3e9bbe;
}
