body {
  font-size: 15px;
  height: 100%;
  margin: 0px;
}

html {
 height: 100%;
}

#root{
  height: 100%;
}

.container {
  height: 100%;
  display: grid;
  grid-template-columns: 20% auto 10%;
  grid-template-rows: 5% 80% 20%;
}

.navbar {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}

.sidebar{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 4;
}

.content{
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 4;
}

li {
  list-style: none;
}

.static{
  margin: 20px;
}
