.navbar-first-row {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #3e9bbe;
}

li.navbar-cell {
  float: left;
  height: 100%;
}

li.navbar-cell button {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  height: 100%;
}

li.navbar-cell button:hover {
    background-color: #317c98;
}
