li.sidebar-cell a {
    display: block;
    color: #000;
    padding: 5% 4%;
    text-decoration: none;
    border-top: 1px solid #3e9bbe;
}

li.sidebar-cell a.active {
    background-color: #4CAF50;
    color: white;
}

li.sidebar-cell a:hover:not(.active) {
    background-color: #555;
    color: white;
}


.sidebar-grid{
  height: 100%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 50% 50%;
  border-right: 1px solid #3e9bbe;
}

.sidebar-navi{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.sidebar-filter{
  border-top: 3px dashed #567B89;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}
