body {
    font-size: 15px;
}
.header {
    background-color: #000000;
    padding: 20px 200px 20px 200px;
    margin: 10px 200px 10px 200px;
    text-align: center;
    color: white;
    font-family: Impact, 'Times New Roman', sans-serif;
    font-size: 30px;
}
.header:hover {
    color: #BABABA;
}


.navbar {
    text-decoration: none;
    width: 100%;
    list-style: none;
}
.navbar a {
    color: white;
    background-color: #19D1BC;
    margin: 2px 0px 2px 0px;
    padding: 5px 10px 5px 10px;
    text-align: center;
    text-decoration: none;
    float: left;
    list-style: none;
    width: 100%;
}
.navbar a:hover {
    background-color: #118C7E;
    font-size: 17px;
}


.sidebar {
    text-decoration: none;
    float: left;
    list-style: none;
}
.sidebar a {
    color: white;
    background-color: #19D1BC;
    margin: 2px 0px 2px 0px;
    padding: 5px 10px 5px 10px;
    text-align: center;
    text-decoration: none;
    float: left;
    list-style: none;
    width: 100%;
}
.sidebar a:hover {
    background-color: #118C7E;
    font-size: 17px;
}


.content {
    max-width: 400px;
    float: left;
    display: inline;
    padding-left: 50px;
}

li {
  list-style: none;
}
